{% extends "base.html" %}

{% block title %}
    Информация об организации
{% endblock %}

{% block content %}

    <body align="center">
        
        <h3>{{ organization.name }}</h3>
        <div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                    <th scope="col">Параметр</th>
                    <th scope="col">Значение</th>
                    </tr>
                </thead>

                <tbody>
                        <tr class="table-row">
                                <th scope="row">ID</th>
                                <td>{{ organization.id }}</td>
                        </tr>
                        
                        <tr class="table-row">
                                <th scope="row">Полное наименование</th>
                                <td>{{ organization.name }}</td>
                        </tr>

                        <tr class="table-row">
                                <th scope="row">Сокращенное наименование</th>
                                <td>{{ organization.short_name }}</td>
                        </tr>

                        <tr class="table-row">
                                <th scope="row">ИНН</th>
                                <td>{{ organization.inn }}</td>
                        </tr>

                        <tr class="table-row">
                                <th scope="row">КПП</th>
                                <td>{{ organization.kpp }}</td>
                        </tr>

                        <tr class="table-row">
                                <th scope="row">Руководитель</th>
                                <td>
                                        {{ organization.spec_job_title.name }}
                                        {{ organization.drector_last_name }}
                                        {{ organization.director_first_name }}
                                        {{ organization.drector_surname }}
                                </td>
                        </tr>

                        <tr class="table-row">
                                <th scope="row">Телефоны</th>
                                <td>{{ organization.telephone }}</td>
                        </tr>                                               

                        <tr class="table-row">
                                <th scope="row">Элекроная почта</th>
                                <td>
                                    <a href="mailto:{{ organization.email }}">
                                        {{ organization.email }}
                                    </a>
                                </td>

                        {% if organization.site %}

                                <tr class="table-row">
                                        <th scope="row">Веб-страница организации</th>
                                        <td>
                                        <a href="http://{{ organization.site }}">
                                                {{ organization.site }}
                                        </a>
                                        </td>
                                </tr>
                                
                        {% endif %}
                        
                        <tr class="table-row">
                                <th scope="row">Адрес</th>
                                <td>
                                        {{ organization.postal_code }},
                                        {{ organization.region.name }}
                                        {{ organization.region.spec_region.name }},
                                        {{ organization.locality.spec_locality.short_name }}
                                        {{ organization.locality.name }},
                                        {{ organization.street.spec_street.name }}
                                        {{ organization.street.name }},
                                        {{ organization.spec_build.name }}
                                        {{ organization.build_number }}
                                    </a>
                                </td>
                        </tr>

                        <tr class="table-row">
                                <th scope="row">Банковские реквизиты</th>
                                <td>
                                        Банк - {{ organization.bank.name }},
                                        БИК - {{ organization.bank.bik }}
                                        Корр.счёт - {{ organization.corr_check }},
                                        Расч.счёт - {{ organization.acc_check }}
                                        {% if organization.pers_check %}
                                                Лиц.счёт (при наличии) - {{ organization.pers_check }}
                                        {% endif %}
                                </td>
                        </tr>

                </tbody>

                
            </table>

        </div>

        <a href="/organization/{{ organization.id }}/edit" class="btn btn-primary">Редактировать</a>

    </body>

{% endblock %}