    <!-- Модальное окно добавление новой должности руководителя-->
    <div class="modal fade" id="spec_job_title_Modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Новое наименование должности руководителя (подписанта)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name_of_job_title" class="form-label">Наименование</label>
                        <input type="text" class="form-control" id="name_of_job_title" name="name_of_job_title" required autocomplete="spec_job_title">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Описание</label>
                        <textarea class="form-control" id="description" name="description" rows="3" autocomplete="description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="saveJobTitleBtn">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
