{% extends "base.html" %}

{% block title %}
    Добавить контракт
{% endblock %}

{% block content %}

    <body align="center">

        <form action='/contract/create' method='POST'>

            <h3>Добавление контракта/договора</h3>

            <!-- Выпадающий список - вид контракта/договора -->
            <div class="mb-3" id="selectSpecContractBody">
                Вид контракта/договора
                <select name='spec_contract' id="action-select-spec_contract">
                    <option value="" selected disabled>Выбрать вид контракта/договора</option>
                    <option value="create">Создать новый вид контракта</option>
                    {% for spec_contract in spec_contracts %}
                        <option contract_id value={{spec_contract.id}}>{{spec_contract.name}}</option>
                    {% endfor %}
                </select> 
            </div>

            <!-- Модальное окно -->
            <div class="modal fade" id="spec_contract_Modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Новый вид контракта/договора</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Наименование</label>
                                    <input type="text" class="form-control" id="name" name="name" autocomplete="name">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Описание</label>
                                    <textarea class="form-control" id="description" name="description" autocomplete="description"></textarea>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="button" class="btn btn-primary" onclick="submitSpec_Contract()">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                Заказчик
                <select name='customer_id'>
                    {% for customer in customers %}
                        <option contract_id value={{customer.id}}>{{customer.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                Подрядчик
                <select name='executor_id'>
                    {% for executor in executors %}
                        <option contract_id value={{executor.id}}>{{executor.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3 row ps-5">
                <label for="number" class="col-sm-2 col-form-label">Номер контракта</label>
                <div class="col-sm-10 pe-5">
                    <input type="text" class="form-control" id="number" name='number'>
                </div>
            </div>

            <div class="mb-3 row ps-5">
                <label for="datepicker" class="col-sm-2 col-form-label">Дата заключения контракта</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control datepicker" id="date_of_consclusion" data-provide="datepicker" name='date_of_consclusion'>
                </div>
            </div>

            <div class="mb-3 row ps-5">
                <label for="datepicker" class="col-sm-2 col-form-label">Срок действия контракта</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control datepicker" id="date_of_completion" data-provide="datepicker" name='date_of_completion'>
                </div>
            </div>

            <div class="mb-3 row ps-5">
                <label for="summ" class="col-sm-2 col-form-label">Сумма контракта</label>
                <div class="col-sm-10">
                    <input type="float" class="form-control" id="summ" name='summ'>
                </div>
            </div>

            <div class="mb-3 row ps-5">
                <label for="subject" class="col-sm-2 col-form-label">Предмет контракта</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="subject" name='subject'>
                </div>
            </div>

            <div class="mb-3 row ps-5">
                <label for="short_subject" class="col-sm-2 col-form-label">Сокращенно предмет контракта</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="short_subject" name='short_subject'>
                </div>
            </div>

            <div class="mb-3 row ps-5">
                <label for="type_contract" class="col-sm-2 col-form-label">Вид расчета (равными долями/по единице)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="type_contract" name='type_contract'>
                </div>
            </div>

            <div class="mb-3 row ps-5">
                <label for="description" class="col-sm-2 col-form-label">Описание, дополнение, комментарий</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="description" name='description'>
                </div>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
            
        </form>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ru.min.js"></script>

        <script>
            $(document).ready(function() {
                $('.datepicker').datepicker({
                    format: 'dd.mm.yyyy',
                    language: 'ru',
                    autoclose: true,
                    todayHighlight: true
                });
            });
        </script>

        <!-- Скрипт для открытия модалки -->
        <script>
            document.getElementById('action-select-spec_contract').addEventListener('change', function() {
                const selectedValue = this.value;
                
                if (selectedValue === 'create') {
                    const modal = new bootstrap.Modal(document.getElementById('spec_contract_Modal'));
                    modal.show();
                }
                
                // Сброс выбора (чтобы можно было выбрать снова)
                //this.value = '';
            });

             // Отправка данных формы
            async function submitSpec_Contract() {
            const name = document.getElementById('name').value;
            const description = document.getElementById('description').value;

            // Проверка на пустые поля
            if (!name.trim()) {
                alert("Пожалуйста, введите наименование контракта");
                return;
    }

            const response = await fetch('/spec_contract/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name: name,
                    description: description
                })
            });

            if (response.ok) {
                const select_spec_contract = await response.json();

                // Добавить новое значение в select
                const dropdown = document.getElementById("action-select-spec_contract")
                const option = document.createElement("option");
                option.value = select_spec_contract.id;
                option.textContent = select_spec_contract.name;
                dropdown.appendChild(option);

                // Закрыть модальное окно
                const modal = bootstrap.Modal.getInstance(document.getElementById('spec_contract_Modal'));
                modal.hide();
                
                // Очистить форму
                document.getElementById('spec_contract_Form').reset();
                
                // Обновить таблицу
                // loadNotes();
            }
        }
        </script>

    </body>

{% endblock %}