{% extends "base.html" %}

{% block title %}
    Информация о контракте/договоре
{% endblock %}

{% block content %}

    <body align="center">
        
        <h3>{{contract.spec_contract.name}}
                №{{ contract.number }}
                от {{ contract.date_of_consclusion.strftime('%d.%m.%Y') }} г.</h3>
        <div>

            <table class="table table-striped table-hover">

                <tbody>
                        <tr class="table-row">
                                <th scope="row">ID</th>
                                <td>{{ contract.id }}</td>
                        </tr>
                        
                        <tr class="table-row">
                                <th scope="row">Номер контракта/договора</th>
                                <td>{{ contract.number }}</td>
                        </tr>

                        <tr class="table-row">
                                <th scope="row">Дата заключения контракта/договора</th>
                                <td>{{ contract.date_of_consclusion.strftime('%d.%m.%Y') }} г.</td>
                        </tr>

                        <tr class="table-row">
                                <th scope="row">Сумма контракта/договора</th>
                                <td>{{ contract.summ }}</td>
                        </tr>

                        <tr class="table-row">
                                <th scope="row">Предмет контракта/договора</th>
                                <td>{{ contract.subject }}</td>
                        </tr>

                        <tr class="table-row">
                                <th scope="row">Полное наименование Заказчика</th>
                                <td><a href="/organization/{{ contract.customer.id }}"
                                        class="text-decoration-none text-dark p-3">
                                        {{ contract.customer.name }}</a></td>
                        </tr>

                        <tr class="table-row">
                                <th scope="row">Полное наименование Подрядчика</th>
                                <td><a href="/organization/{{ contract.executor.id }}"
                                        class="text-decoration-none text-dark p-3">
                                        {{ contract.executor.name }}</a></td>
                        </tr>
                
                </tbody>

                
            </table>

        </div>

        <h3>Объекты</h3>

        <div>

            <table class="table table-striped table-hover">

                <tbody>

                                                
                        <thead>
                                <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Наименование</th>
                                        <th scope="col">Адрес</th>
                                </tr>
                        </thead>

                        {% for object in contract.objects %}
                        
                                <tbody>

                                        <td>
                                                <a href="/object/{{ object.id }}"
                                                class="text-decoration-none text-dark p-3">
                                                {{ object.id }}
                                                </a>
                                        </td>

                                        <td>
                                                <a href="/object/{{ object.id }}"
                                                class="text-decoration-none text-dark p-3">
                                                {{ object.name }}
                                                </a>
                                        </td>

                                        <td>
                                                {{ object.region.name }}
                                                {{ object.region.spec_region.name }},
                                                {{ object.locality.spec_locality.short_name }}
                                                {{ object.locality.name }},
                                                {{ object.street.spec_street.name }}
                                                {{ object.street.name }},
                                                {{ object.spec_build.name }}
                                                {{ object.build_number }}
                                        </td>

                                </tbody>

                        {% endfor %}

                </tbody>

                
            </table>
        
            <form action='/object/create_form' method='POST'>
                <div class="d-flex justify-content-center mt-3">
                        <input type="hidden" id="myHiddenField" name="contract_id" value="{{ contract.id }}">
                <input type='submit' value='Добавить объект'>
                </div>
            </form>

        </div>

    </body>

{% endblock %}