{% extends "base.html" %}

{% block title %}
    Справочник дополнителных соглашений
{% endblock %}

{% block content %}

    <body align="center">
        
        <h1>Дополнительные соглашения</h1>
        
        <div>
            
            {% if sub_conracts %}

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Номер</th>
                        <th scope="col">Дата подписания</th>
                        <th scope="col">Предмет дополнительного соглашения</th>
                        <th scope="col">Контракт</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for sub_contract in sub_contracts %}
                            <tr class="table-row">
                                    <td><a href="/sub_contract/{{ contract.id }}" 
                                            class="text-decoration-none text-dark p-3">
                                                {{ contract.id }}</a></td>
                                    <td><a href="/contract/{{ contract.id }}" 
                                            class="text-decoration-none text-dark p-3">
                                            {{ contract.number }}</a></td>
                                    <td>{{ contract.date_of_consclusion.strftime('%d.%m.%Y') }} г.</td>
                                    <td>{{ contract.short_subject }}</td>
                                    <td><a href="/organization/{{ contract.customer.id }}"
                                            class="text-decoration-none text-dark p-3">
                                        {{ contract.customer.short_name }}</a></td>
                                    <td><a href="/organization/{{ contract.exeсutor.id }}"
                                            class="text-decoration-none text-dark p-3">
                                        {{ contract.exeсutor.short_name }}</a></td>
                                    <td>{{ contract.summ }}</td>
                                    <td>{{ contract.date_of_completion.strftime('%d.%m.%Y') }} г.</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                    
                </table>

            {% else %}

                <h3 class="text-danger">На данный момент в справочниках не зарегистрировано 
                    ни одного дополнительгого соглашения!!!</h3>
            
            {% endif %}

        </div>

    </body>

{% endblock %}