{% extends "base.html" %}

{% block title %}
    Главная
{% endblock %}

{% block content %}

    {% if message %}

        <script>
                alert("Внимание! {{ message }}");
        </script>

    {% endif %}

    <body align="center">
        <h1>Главная</h1>
            <p>Здесь будет информация о том, чем мы занимаемся, 
                возможно новости отдела или информация о погоде
                в нашей области или в тех регионах, в которых есть объекты обслуживания.</p>
    </body>
{% endblock %}