{% extends "base.html" %}

{% block title %}
    Справочники
{% endblock %}

{% block content %}
    <body align="center">

        <h1>Справочник</h1>

        <div>

            <table class="table table-striped table-hover">

                <tbody>

                    <tr class="table-row">
                        <td>
                            <a href="/organization/list"
                                    class="text-decoration-none text-dark p-3">
                                    Организации
                                </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a href="/contract/list"
                                class="text-decoration-none text-dark p-3">
                                Контракты и договоры
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a href="/sub_contract/list"
                                class="text-decoration-none text-dark p-3">
                                Дополнительные соглашения
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a href="/object/list"
                                class="text-decoration-none text-dark p-3">
                                Объекты
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a href="/objects_equipment/list"
                                class="text-decoration-none text-dark p-3">
                                Оборудование на объектах
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a href="/equipment/list"
                                class="text-decoration-none text-dark p-3">
                                Оборудование
                            </a>
                        </td>
                    </tr>

                </tbody>

                
            </table>

        </div>

    </body>
{% endblock %}