{% extends "base.html" %}

{% block title %}
    Добавить объект
{% endblock %}

{% block content %}

    <body align="center">
        
        <h3>
        
            Добавить объект в {{ contract.spec_contract.name }}
            №{{ contract.number}}
            от {{ contract.date_of_consclusion.strftime('%d.%m.%Y') }} г.</h3>
        
        </h3>

        <div>

            <form action='/object/create' method='POST'>

            <div class="mb-3 row ps-5">
                <label for="name_of_object" class="col-sm-2 col-form-label">Наименование объекта</label>
                <div class="col-sm-10 pe-5">
                    <input type="text" class="form-control" id="name_of_object" name='name_of_object'>
                </div>
            </div>
                
                
                <input type='submit' value='Сохранить'>

            </form>

        </div>

    </body>

{% endblock %}