{% extends "base.html" %}

{% block title %}
    Информация об объекте
{% endblock %}

{% block content %}

    <body align="center">
        
        <h5>
            {{ object.name }}<p></p>
            {{ object.contract.customer.name }}<p></p>
            {{ object.region.name }}
            {{ object.region.spec_region.name }},
            {{ object.locality.spec_locality.short_name }}
            {{ object.locality.name }},
            {{ object.street.spec_street.name }}
            {{ object.street.name }},
            {{ object.spec_build.name }}
            {{ object.build_number }}<p></p>
        </h5>

        <div>

            <h4>Список оборудования</h4>

            {% if object.objects_equipments %}

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Наименование/Модель</th>
                        <th scope="col">Количество</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for equipment in object.objects_equipments %}
                            <tr class="table-row">
                                    
                                <td><a href="/equipment/{{ equipment.id }}" 
                                            class="text-decoration-none text-dark p-3">
                                        {{ equipment.equipments.id }}</a>
                                </td>
                                
                                <td><a href="/equipment/{{ equipment.id }}" 
                                            class="text-decoration-none text-dark p-3">
                                        {{ equipment.equipments.name }}</a>
                                </td>

                                <td>
                                    {{ equipment.count }}
                                </td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>

                    
                </table>

            {% else %}

                <h3>На данный момент для указанного объекта не указано оборудования!!!</h3>
            
            {% endif %}


        </div>

    </body>

{% endblock %}